*{
    margin: 0;
    font-family: "Consolas", monospace;
    color: #4A4A4A;
}


ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}


.headerText{
    padding-top: 3%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    animation:tracking-in-contract-bck-top 2s cubic-bezier(.215,.61,.355,1.000) both
}
.subHeaderText{
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    animation:tracking-in-contract-bck-top 2s cubic-bezier(.215,.61,.355,1.000) both
}

.headerContainer{
    width: 100%;
    color:#4A4A4A;
}
/*
    Styling for links div
*/
.links{
    display: flex;
    justify-content: center;
}


/*
    Styling for main image div
*/
.mainImageDiv{
    display:inline-flexblock;
}

.meInParis{
    float:left;
   height: 40%;
   width: 40%; 
}

/*
    Styling for bio div
*/
.bioDiv{
    font-size: 2vw;
    overflow-wrap: normal;
    padding-top: 10%;
    padding-bottom: 20%;
}

/*
    Styling for showcased works
*/
.showcasedWorksDiv{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}


/*Color palette subject to change. Ink wash. Early ideas:
    #4A4A4A , #CBCBCB , #FFFFE3 , #6D8196
*/
.fullscreenContainer{
    flex: 1;
    height: 150vh;
    width: 100%;
    color:#4A4A4A;
    
}

/*
        This animation was generated by Animista
        http://animista.net
        .tracking-in-contract-bck-top{
    animation:tracking-in-contract-bck-top 3s cubic-bezier(.215,.61,.355,1.000) both
}

*/

/* ----------------------------------------------
 * Generated by Animista on 2025-12-31 10:37:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes tracking-in-contract-bck-top{
    0%{
        letter-spacing:1em;
        transform:translateZ(400px) translateY(-300px);
        opacity:0
    }
    40%{opacity:.6}
    100%{transform:translateZ(0) translateY(0);opacity:1}
}
